/*
 * Theme: Personal Webpage [Dark]
 * Author: Amanda Anderson
 * Date: Dec 2019
 *
 * Main Colors
 * Dark Gray: #232323
 * Pink: palevioletred
 * 
*/

*{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

.wrapper{
    height: 100%;
    width: 100%;
}

.section{
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 85px 8px 8px 8px;
}

nav{
    position: fixed;
    height: 55px;
    background-color:rgba(25, 25, 25, 0.75);
    color: white;
    width: 100%;
    line-height: 55px;
    box-sizing: border-box;
    padding: 0 10px;
    z-index: 3;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

nav a:hover {
    color: palevioletred;
}

.active {
    color: palevioletred;
}

#section1 {
    background: url("https://raw.githubusercontent.com/amanda-anderson/personal-website-V2/master/images/intro-background.jpg");
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;

    /* Parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section2 {
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
    height: auto;
}

#section3 {
    background: url("https://raw.githubusercontent.com/amanda-anderson/personal-website-V2/master/images/exper-background.jpg");
    background-color: rgb(31, 31, 31);
    text-align: center;
    color: white;

    /* Parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section4 {
    background-color: rgb(31, 31, 31);
    text-align: center;
    color: white;
    height: auto;
}

#section5 {
    background: url("https://raw.githubusercontent.com/amanda-anderson/personal-website-V2/master/images/contact-background.jpg");
    background-color: rgb(31, 31, 31);
    text-align: center;
    color: white;

    /* Parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-line1 {
    font-size: 50pt;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 50px;
}

#intro-line2 {
    font-size: 30pt;
    padding-bottom: 15px;
}

#intro-line3 {
    font-size: 15pt;
    width: 800px;
    padding-bottom: 30px;
}

#intro {
    background-color: rgba(1, 1, 1, 0);
    width: 960px;
    display: inline-block;
    text-align: left;
    margin-top: 75px;
}

#about {
    background-color: rgba(1, 1, 1, 0.5);
    width: 960px;
    display: inline-block;
    padding: 20px;
    border-radius: 4px;
}

#experience {
    width: 960px;
    display: inline-block;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: auto;
}

#portfolio {
    width: 960px;
    display: inline-block;
    padding: 20px;
    margin-bottom: auto;
}

#contact {
    width: 645px;
    display: inline-block;
    padding: 20px;
    margin-bottom: auto;
    background-color: rgba(1, 1, 1, 0.75);
    border-radius: 5px;
    margin-top: 5%;
}

#about-desc {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.social-icon {
    height: 50px;
    width: auto;
    padding-right: 18px;
}

#home-btn {
    height: 35px;
    width: auto;
    -webkit-transform: translate(+10%, +28%); 
}

.social-icon:hover {
    transform: scale(1.07);
}

#profile-photo {
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 14px;
    box-shadow: 0px 0px 20px palevioletred;
    filter: grayscale(15%);
}

#mini-manifesto {
    width: 800px;
    margin: 0 auto;
}

#familiar-tech li::before {
    content: "\2023";  /* \2022 is the CSS Code/unicode for a bullet */
    font-weight: bold;
    font-size: 14pt;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: palevioletred;
}

#familiar-tech {
    list-style: none; /* Remove default bullets */
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 12pt;
    list-style-position: outside;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    width: 400px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

#exp-explorer {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    display: flex;
    border-radius: 5px;
    padding: 10px;
}

#job-title-list {
    margin-left: 0;
    width: 125px;
}

.job-title {
    text-decoration: none;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: palevioletred;
    padding: 8px;
    margin: 6px;
    font-size: 11pt;
    transition: all 0.4s ease 0s;
}

.job-title:hover {
    color: palevioletred;
    background-color: white;
    border-radius: 5px;
}

.job-title:active {
    color: palevioletred;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
}

.job-title:focus {
    outline: 0;
    color: palevioletred;
    background-color: white;
    border-radius: 5px;
}

#job-detail-box {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    background-color: rgba(25, 25, 25, 0.9);
    border-radius: 5px;
    margin: 5px;
}

#selected-job-title {
    width: 70%;
}

#company-name {
    color: palevioletred;
}

#job-description {
    width: 100%;
    height: 75%;
    padding-top: 10px;
}

#portfolio-grid {
    display: flex;
    flex-wrap: wrap;
}

.element {
    height: 275px;
    width: 275px;
    margin: 15px;
    margin-left: 22px;
    border-radius: 3px;
    background-color: white;
    border: 3px solid white;
}

.element:hover {
    transform: scale(1.02);
}

.portImg {
    height: 220px;
    width: 275px;
    filter: grayscale(100%);
}

.portImg:hover {
    filter: grayscale(25%);
    transition: filter 0.5s;
}

.portTitle {
    padding-top: 230px;
    font-weight: bold;
    color: rgb(31, 31, 31);
}

.portLangs {
    font-size: 11pt;
    color: palevioletred;
}

#news-collective {
    background: url("https://github.com/amanda-anderson/personal-website-V2/blob/master/images/news-collective.PNG?raw=true");
    background-size: contain;
    background-position: center;
}

#isles-dunya {
    background: url("https://github.com/amanda-anderson/personal-website-V2/blob/master/images/isles-of-dunya.png?raw=true");
    background-size: cover;
    background-position: center;
}

#spooky-soo {
    background: url("https://github.com/amanda-anderson/personal-website-V2/blob/master/images/spooky-soo.png?raw=true");
    background-size: cover;
    background-position: center;
}

#viking-village {
    background: url("https://github.com/amanda-anderson/personal-website-V2/blob/master/images/ar-viking.png?raw=true");
    background-size: cover;
    background-position: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
  }

  .modal-content {
    background-color: #1b1b1b;
    margin: 15% auto;
    padding: 10px;
    border: 2px solid #ebb1c4;
    border-radius: 2px;
    width: 650px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28pt;
    font-weight: bold;
    margin-top: -16px;
  }
  
  .close:hover,
  .close:focus {
    color: palevioletred;
    text-decoration: none;
    cursor: pointer;
  }

  .port-icon {
      height: 40px;
      width: 40px;
      padding: 10px;
      margin-top: 55px;
      margin-left: 10px;
      margin-right: 10px;
  }

  .port-icon:hover {
      transform: scale(1.05);
  }

  #project-main-text {
      padding-right: 20px;
      padding-left: 20px;
  }

  #project-title {
      color: #eebecd;
      padding: 10px;
  }

  #project-key-words {
      color: palevioletred;
      padding-bottom: 15px;
  }

::placeholder {
    color: palevioletred;
}

#ContactForm {
  width: 80%;
  padding-left: 15px;
  text-align: center;
  display: inline;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#contactForm {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    font-size: 18px;
    width: 100%;
    color: palevioletred;
}

#contactFormMsg {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    color: palevioletred;
}

#SubmitButton {
    text-align:center;
    background-color: palevioletred;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 6px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 5%;
    margin-right: -10px;
    color: #fff;
    border: none !important;
}

#SubmitButton:hover {
    transform: scale(1.03);
}

input,
textarea,
select {
    outline: 0;
}

/* Width 1020 */
@media screen and (max-width: 1020px){

    #about {
        width: 80%;
        padding: 20px;
    }
    
    #experience {
        width: 100%;
    }
    
    #portfolio {
        width: 960px;
        display: inline-block;
        padding: 20px;
        margin-bottom: auto;
    }
    
    #contact {
        width: 645px;
        display: inline-block;
        padding: 20px;
        margin-bottom: auto;
        margin-top: 5%;
    }
    
    #about-desc {
        width: 100%;
    }

    #intro {
        width: 75%
    }

    #intro-line1, #intro-line2, #intro-line3 {
        width: 100%;
        overflow-wrap: normal;
    }

    #exp-explorer {
        width: 75%;
    }

    #selected-job-title {
        width: 60%;
    }

    #date-worked {
        width: 40%;
    }

    #job-detail-box {
        overflow: scroll;
        height: 350px;
    }
    
    #portfolio {
        display: flex !important;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
    }
    
    #portfolio-grid {
        justify-content: center;
        margin-left: auto;
        margin-right: 15px;
    }
    
  .modal-content {
    width: 65%;
  }

  #contact {
    width: 80%;
    }

}

/* Width 600 */
@media screen and (max-width: 600px){

    * {
        width: auto;
    }
    
    nav{
        position: fixed;
        height: 50px;
        color: white;
        width: 100%;
        line-height: 20px;
        padding: 0 10px;
    }

    nav a{
        font-size: 10pt;
        padding: 0;
        margin-right: 5px;
    }

    #intro {
        width: 100%
    }

    #intro-line1, #intro-line2, #intro-line3 {
        width: 100%;
        overflow-wrap: normal;
    }

    #familiar-tech {
        columns: 1;
        margin-right: 0;
        margin-left: 22%;
    }

    #experience {
        margin-top: 10px;
        padding: 0px;
    }

    #exp-explorer {
        width: 100%;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #jobBtn, #latestJob {
        margin: 3px;
    }

    #job-title-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center !important;
    }
    #selected-job-title {
        width: 60%;
    }

    #date-worked {
        width: 40%;
    }

    #job-detail-box {
        overflow: scroll;
        height: 350px;
        width: 93% !important;
        margin: 0;
        margin-top: 5px;
    }

    .modal-content {
        width: 85%;
      }
}